.list {
	width: calc(60vw-30px);
	margin: 20px 20vw;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.51);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	border-radius: 5px;

	li {
		margin: 1vw;
		display: grid;
		grid-template-columns: 0.2fr 3fr 1fr 0.4fr;
		grid-gap: 15px;
		list-style-type: none;
		border-bottom: 1px dotted $dark-gray;
	}
	.editItemBtn {
		justify-self: end;
	}
}
