@import './config', './addPanel';

.hidden {
	display: none;
}

body {
	background: $light-gray;
}

#addBtn {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

@media print {
	.list {
		display: block;
		background-color: white;
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 15px;
		font-size: 14px;
		line-height: 18px;
	}
}
